.header-page {
  background: $color-bg-dark;
  padding: 0 10px;

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .toggle-menu{
    display: none;
  }

  .toggle-menu:checked + ul {
    display: block;
  }

  ul {
    display: none;

    list-style: none;
    padding: 0;
    width: 100%;
    text-align: center;

    li {
      position: relative;
    }

    li ul{
      display: none;

      position: static;
      //position: absolute;
      //top: 100%;
      //left: 0;

      background: $color-bg-dark;

      li {
        min-width: 98px;
      }
    }

    a {
      display: block;
      padding: 10px 10px;
    }

    li:hover {
      background: lighten($color-bg-dark, 25%);

      ul  {
        display: block;
      }
    }
  }
}

@media screen and (min-width: $vw-medium) {
  .header-page {

    nav {
      justify-content: space-between;
      flex-direction: row;

      .show-menu {
        display: none;
      }
      ul {
        width: auto;
        display: flex;

        li ul {
          position: absolute;
          top: 100%;
          left: 0;
        }

      }
    }

  }
}